[v-cloak] {

  display: none;

}

label {

  .validation {

    color: $alert-color;

    span {

      &.block {

        display: block;

      }

    }

  }

}

form {

  input, select, textarea {

    transition: all 0.26s ease-out;

  }

  select[multiple] {

    height: 7rem;

  }

  .invalid {

    input[type="text"],
    input[type="email"],
    input[type="password"],
    input[type="number"],
    input[type="date"],
    input[type="datetime"],
    input[type="time"],
    select,
    textarea,
    .cke {

      border-color: $alert-color;

    }

  }

  .checkbox-group {

    list-style: none;
    padding: 0;
    margin: 0 0 $global-margin;

    .checkbox-group-item {

      position: relative;

      input[type="checkbox"],
      input[type="radio"] {

        position: absolute;
        top: 0.3rem;
        left: 0;
        margin: 0;

      }

      label {

        padding-left: 1rem;

      }

    }

    > div:not(.checkbox-group-item) {

      .checkbox-group-item {

        input[type="checkbox"],
        input[type="radio"] {

          top: 0.2rem;

        }

      }

    }

  }

}