.divider {

  height: 0;
  width: 100%;
  display: table;
  margin-bottom: $global-margin;
  padding-bottom: $global-padding;
  border-bottom: solid 1px $medium-gray;

}

#responsive-menu {

  margin-bottom: 2rem;

}